$color-primary: #3caa61;
$color-black: #151515;
$cor-secundaria: red;
$cor-fundo: #f5f5f5;
$cor-texto: #333;
$color-white: #fff;

$tamanho-fonte-padrao: 16px;
$fonte-padrao: Arial, sans-serif;

$espacamento-pequeno: 10px;
$espacamento-medio: 20px;
$espacamento-grande: 30px;

$danger: #dc3545;

// colors gray
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
